<ion-view view-title="chat" ng-controller="chatCtrl" style="background-image: url('img/seeside.jpeg');">

    <div style="margin-top: 48px;" >
        <div class="item item-avatar item-icon-right" >
            <img ng-src="{{currentChat.imgSrc}}">

            <h2>{{currentChat.name}}</h2>

            <p>{{currentChat.word}}</p>
        </div>
        <div id="chatDisplay">

        </div>
        <form action="" ng-submit="chatSubmit()" onsubmit="return false">
            <input type="text" ng-model="inputContent">
        </form>
    </div>

</ion-view>